<%= form_for @comment do |c| %>
    <div class="panel-heading"><center><h1>Dodawanie Komentarzy</h1></center></div>
    <div class="field">
      <%= c.label :gender,"Płeć" %><br />
      <%= c.label :gender, "Mężczyzna", :value => "M"  %>
      <%= c.radio_button :gender, true %>
      <%= c.label :gender, "Kobieta", :value => "K" %>
      <%= c.radio_button :gender, false, :checked => true %>
    </div>
    <div class="form-group">
      <%= c.label :author, "Imię i Nazwisko autora komentarza" %>
      <%= c.text_field :author, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= c.label :body, "Treść komentarza" %>
      <%= c.text_field :body, class: "form-control" %>
    </div>
    <div class="panel-footer">
      <div class="actions">
        <%= c.submit "Dodaj kommentarz" %>
      </div>
<% end %>
</div>