<p id="notice"><%= notice %></p>
<p>
  <strong>Autor:</strong>
  <%= comment.author %>
</p>
<p>
  <strong>Autor:</strong>
  <%= comment.author %>
</p>

<p>
  <strong>Contents:</strong>
  <%= comment.body %>
</p>

<p>
  <strong>Admin_id:</strong>
  <%= comment.admin_id %>
</p>

<%= link_to 'Edit', edit_comment_url(:id) %> |
<%= link_to 'Back', comments_url(:id) %>
