<p id="notice"><%= notice %></p>
<div class="box">
  <div class="panel panel-default">
    <div class="panel-body">
      <strong>Autor:</strong>
      <%= @comment.author %>
    </div>
    <div class="panel-body">
      <strong>Autor:</strong>
      <%= @comment.gender %>
    </div>

    <div class="panel-body">
      <strong>Contents:</strong>
      <%= @comment.body %>
    </div>

    <div class="panel-body">
      <strong>Admin_id:</strong>
      <%= @comment.admin_id %>
    </div>
    <div class="panel-footer">
      <%= link_to 'Edit', edit_comment_url(:id) %> |
      <%= link_to 'Back', comments_url(:id) %>
    </div>
  </div>
</div>