<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navtainer">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#start"><strong>Justyna Miazga</strong></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#obszar_dzialania">Obszar działania</a></li>
        <li><a href="#o_mnie">O mnie</a></li>
        <li><a href="#opinie_klientow">Opinie Klientów</a></li>
        <li><a href="#oferta">Oferta</a></li>
        <li><a href="#galeria">Galeria</a></li>
        <li><a href="#kontakt">Kontakt</a></li>
        <li><a href="/cennik">Cennik</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->   </div><!-- /.container-fluid --> </nav>
</div>
</div>

<div class="container">
  <section class="parasect" id="start" data-speed="6" data-type="background" , class="container">
    <div class="jumbotron">

      <h1><img src="uploads/system/Logo z justyna.png"></h1>
      <h2>Usługi Mobilne</h2>
          <div class="container" id="title">
            <a class="btn btn-primary btn-lg" href="#kontakt">Umów się</a>
            <a class="btn btn-primary btn-lg" href="#o_mnie">Sprawdź mnie</a>
          </div>
    </div>
  </section>
  <!-- Section #1 -->
  <section class="section1" id="obszar_dzialania" data-speed="6" data-type="background">
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-body">
          <h1> Obszar działania </h1>
          <div class="col-md-3 col-md-offset-2" id="left">
            <img class="circular" src="uploads/system/circle foto1.jpg">
            <h5>Mobilne makijaże okolicznościowe</h5>
          </div><!-- /.span4 -->

          <div class="col-md-3 col-md-offset-2" id="right">
            <img class="circular" src="uploads/system/circle foto2.jpg">
            <h5>Współpraca przy sesjach zdjęciowych</h5>
          </div><!-- /.span4 -->
        </div>
      </div>
    </div>
  </section>
  <a href="#" class="scrollToTop"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
  <!-- Section #2 -->
  <section class="section2" id="o_mnie" data-speed="4" data-type="background">
    <div class="container">
      <div class="panel panel-default">
          <div class="page-header">
            <h1> O mnie </h1>
          </div>
        <div class="panel panel-body">
          <div class="col-md-5 col-md-offset-2">
              <img src="/uploads/system/justyna.jpg" id="foto">
            </div>
            <div class="col-md-4">
              <div class="thumbnail" id="about">
                <% @educations.each do |education| %>
                  <% if education.category== "szkola" %>
                     <p><i class="fa fa-graduation-cap" aria-hidden="true">&nbsp;&nbsp;<%= education.description %></i></p>
                      <% elsif education.category== "szkolenie" %>
                        <p><i class="fa fa-book" aria-hidden="true">&nbsp;&nbsp;<%= education.description %></i></p>
                          <% elsif education.category== "kurs" %>
                            <p><i class="fa fa-language" aria-hidden="true">&nbsp;&nbsp;<%= education.description %></i></p>
                              <% elsif education.category== "certyfikat" %>
                                <p><i class="fa fa-check-square-o" aria-hidden="true">&nbsp;&nbsp;<%= education.description %></i></p>
                                  <% elsif education.category== "warsztat" %>
                                    <p><i class="fa fa-cogs" aria-hidden="true">&nbsp;&nbsp;<%= education.description %></i></p>
                  <%end%>
                <%end%>
              </div>
            </div><!-- /.span4 -->
        </div>
        <div class="panel-footer"></div>
      </div>
    </div>
  </section>

  <!-- Section #3 -->
  <section class="section3" id="opinie_klientow" data-speed="4" data-type="background">
    <div class="panel panel-default">
      <div class="page-header">
        <h1>Opinie Klientów</h1>
      </div>
      <div class="panel panel-body">
        <% @comments.each do |comment| %>
            <div class="col-md-2">
              <div class="thumbnail">
                <% if comment.gender== "true" %>
                    <img class="circular" <%= image_tag('/uploads/system/mezczyzna.jpg') %>
                <% else %>
                    <img class="circular" <%= image_tag('/uploads/system/kobieta.jpg') %>
                <% end %>
              </div>
              <div class="caption">
                <h3><%= comment.author %></h3>
                <p><%= comment.body %></p>
              </div>
            </div>
        <% end %>
      </div>
      <div class="panel-footer">
      <% if @comments.count > 6 %>
        <div class="center">
          <%= will_paginate @comments, renderer: BootstrapPagination::Rails %>
        </div>
      <%end%>
      </div>
    </div>
  </section>

  <!-- Section #4 -->
  <section class="section4" id="oferta" data-speed="2" data-type="background">
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="page-header">
            <h1>Oferta</h1>
          </div>
          <div class="row">
            <div class="col-sm-4 col-lg-4 col-md-4">
              <div class="swiper-slide">
                <div class="page-header">
                  <h2 class="offer-price"><%=@price1.price_in%> zł</h2>
                </div>
                <h2 class="offer-header">MAKIJAŻ WIECZOROWY</h2>
                <li>
                  <p class="offer-lead">W makijażu wieczorowym można już pozwolić sobie na odrobinę szaleństwa. Makijaż
                    okolicznościowy jest dobierany indywidualnie do klientki. Prezentuje się idealnie również w
                    sztucznym oświetleniu oraz blasku świec.<br/></p></li>
                <h4 class="offer-header"><img id="icon" src="/uploads/system/ok.png"></h4>
                <h3 class="offer-header">W cenie:</h3>
                <li><p class="offer-lead">Dojazd do klienta na terenie Białegostoku. Dojazd poza Białystok za dodatkową
                  opłatą.<br/></p></li>
                <li><p class="offer-lead">Dopasowanie makijażu do naturalnych kształtów twarzy<br/></p></li>
                <a href="#" class="offer-link">Więcej</a>
              </div>


              <div id="trapezoid"></div>
            </div>
            <div class="col-sm-4 col-lg-4 col-md-4">
              <div class="swiper-slide-middle">
                <div class="page-header">
                  <h2 class="offer-price"><%=@price2.price_in %> zł</h2>
                </div>
                <h2 class="offer-header">MAKIJAŻ ŚLUBNY</h2>
                <li><p class="offer-lead">Makijaż ślubny łączy w sobie makijaż: dzienny (dodaje świeżości , wydobywa
                  naturalne piękno), wieczorowy ( tutaj bardzo ważna jest trwałość) oraz fotograficzny (musi dobrze
                  wyglądać w oświetleniu sztucznym , zdjęciach , filmach).<br/></p></li>
                <h4 class="offer-header"><img id="icon" src="/uploads/system/ok.png"></h4></center>
                <h3 class="offer-header">W cenie:</h3>
                <li><p class="offer-lead">Dojazd do klienta na terenie Białegostoku. Dojazd poza Białystok za dodatkową
                  opłatą.<br/></p></li>
                <li><p class="offer-lead">Dopasowanie makijażu do naturalnych kształtów twarzy<br/></p></li>
                <h3 class="offer-header" style="text-align: center">OFERTA SPECJALNA</h3>
                <li>
                  <p class="offer-lead">Świadkowe, mamy, teściowe, siostry, koleżanki - przygotowałam dla was wyjątkową
                    promocję!<br/>
                <li>Makijaż okazjonalny w cenie 60 PLN zamiast 70 PLN!</li>
                <br/></p></li>
                <a href="#" class="offer-link">Więcej</a>
              </div>

              <div id="trapezoid"></div>
            </div>
            <div class="col-sm-4 col-lg-4 col-md-4">
              <div class="swiper-slide-right">
                <div class="page-header">
                  <h2 class="offer-price"><%=@price3.price_in %> zł</h2>
                </div>
                <h2 class="offer-header">MAKIJAŻ DZIENNY</h2>
                <li><p class="offer-lead">Makijaż tego typu jest subtelny, stonowany. Dobór kolorów jest indywidualny do
                  każdego typu urody. Główne zadanie to zakrycie wszelkich niedoskonałości, oraz delikatne
                  wykonturowanie twarzy. Ma ładnie rozświetlić skórę i dodać świeżego,pogodnego wyglądu.<br/></p></li>
                <h4 class="offer-header"><img id="icon" src="/uploads/system/ok.png"></h4>
                <h3 class="offer-header">W cenie:</h3>
                <li><p class="offer-lead">Dojazd do klienta na terenie Białegostoku. Dojazd poza Białystok za dodatkową
                  opłatą.<br/></p></li>
                <li><p class="offer-lead">Dopasowanie makijażu do naturalnych kształtów twarzy<br/></p></li>
                <a href="#" class="offer-link">Więcej</a>
              </div>


              <div id="trapezoid"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section #5 -->
  <section class="section5" id="galeria" data-speed="2" data-type="background">
    <div class="panel panel-default">
      <div class="page-header">
        <h1>Galeria</h1>
      </div>
      <div id="images" class="transitions-enabled">
        <% @images.each do |image| %>
            <div class="box">
              <%= link_to image_tag(image.img.url(:medium)), image.img.url %>
            </div>
        <% end %>
      </div>
      <div class="panel-footer">
        <% if @images.count > 50 %>
            <div class="center">
              <%= will_paginate @images, renderer: BootstrapPagination::Rails %>
            </div>
        <%end%>
      </div>
    </div>
  </section>

  <!-- Section #6 -->
</div>
<section class="section6" id="kontakt" data-speed="2" data-type="background">
  <div class="container">
  <div class="panel panel-default">
      <div class="panel-body">
        <div class="page-header">
          <h1>Pozostańmy w kontakcie</h1>
        </div>
        <div class="col-md-6">
        <div id="fb-root"></div>
        <div id="container" style="width:100%;">
          <div class="fb-page" data-href="https://www.facebook.com/MAKE-UP-Justyna-Miazga-487435351397998/" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/MAKE-UP-Justyna-Miazga-487435351397998/"><a href="https://www.facebook.com/MAKE-UP-Justyna-Miazga-487435351397998/">MAKE UP Justyna Miazga</a></blockquote></div></div>
        </div>
        </div>
        <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-body" id="call">
            <div class="page-header">
              <h2>Formularz kontaktowy</h2>
            </div>
        <%= form_for @message, url: contact_path do |message_form| %>
            <fieldset>
              <div class="field">
                <p><%= message_form.text_field :name, placeholder: "Imię i Nazwisko" %></p>
              </div>

              <div class="field">
                <p><%= message_form.email_field :email, placeholder: "Email"%></p>
              </div>

              <div class="field">
                <p><%= message_form.text_field :tel, placeholder: "Telefon" %></p>
              </div>

              <div class="field">
                <p><%= message_form.text_area :content, placeholder: "Treść Wiadomości"%></p>
              </div>
            </fieldset>
            <div class="panel-footer">
            <fieldset>
              <div class="field">
                <%= message_form.submit "Wyślij" %>
              </div>
            </fieldset>
            </div>
        <% end %>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>