<%= form_for(@image) do |f| %>
    <% if @image.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

          <ul>
            <% @image.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="panel panel-default">
      <div class="panel-heading"><h1><%= yield(:title) %></h1></div>
      <div class="panel-body">
        <div class="field">
          <%= f.hidden_field :admin_id, value: @admin.id %>
        </div>
        <div class="form-group">
          <%= f.label :image, "Obraz" %>
          <%= f.file_field :image, class: "form-control" %>
        </div>
        <div class="actions">
          <%= f.submit "Dodaj zdjęcie" %>
        </div>
<% end %>
</div>
<div class="panel-footer"></div>
</div>