<%= form_for @image,html: {multipart: true} do |i| %>
    <% if @image.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

          <ul>
            <% @image.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
<div class="panel panel-default">
  <div class="panel-heading"><h1>Administracja Stroną</h1></div>
    <div class="panel-body">
      <div class="field">
        <%= i.hidden_field :admin_id %>
      </div>
        <div class="form-group">
          <%= i.label :img, "Obraz" %>
          <%= i.file_field :img, class: "form-control" %>
        </div>
      <div class="panel-footer">
          <div class="actions">
            <%= i.submit "Dodaj zdjęcie" %>
          </div>
      <% end %>
    </div>
</div>

<%= form_for @comment do |c| %>
    <div class="panel-heading"><center><h1>Dodawanie Komentarzy</h1></center></div>
        <div class="field">
          <%= c.label :gender,"Płeć" %><br />
          <%= c.label :gender, "Mężczyzna", :value => "M"  %>
          <%= c.radio_button :gender, true %>
          <%= c.label :gender, "Kobieta", :value => "K" %>
          <%= c.radio_button :gender, false, :checked => true %>
        </div>
          <div class="form-group">
            <%= c.label :author, "Imię i Nazwisko autora komentarza" %>
            <%= c.text_field :author, class: "form-control" %>
          </div>
            <div class="form-group">
              <%= c.label :body, "Treść komentarza" %>
              <%= c.text_field :body, class: "form-control" %>
            </div>
    <div class="panel-footer">
              <div class="actions">
                <%= c.submit "Dodaj kommentarz" %>
              </div>
            <% end %>
    </div>
</div>

<table>
  <tbody>
  <div class="panel panel-default">
  <div class="panel-heading"><center><h1>Zdjęcia</h1></center></div>
  <div class="panel-body">
    <% @images.each do |image| %>
      <div id="images" class="transitions-enabled">
        <div class="box">
          <div class="panel panel-default">
        <%= link_to image_tag(image.img.url(:original)), image.img.url %>
            <div class="panel-body">
              <%= image.admin_id %>
            </div>
              <div class="panel-footer">
                <%= button_to 'Show', image %><br/>
                <%= button_to 'Edit', edit_image_path(image) %><br/>
                <%= button_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %><br/>
              </div>
          </div>
        </div>
    <% end %>
    </div>
  </div>
  </div>
  </tbody>
</table>

<table>
  <tbody>
  <div class="panel panel-default">
    <div class="panel-heading"><center><h1>Komentarze</h1></center></div>
    <div class="panel-body">
      <% @comments.each do |comment| %>
          <div id="images" class="transitions-enabled">
            <div class="box">
              <div class="panel panel-default">
                <%= comment.gender %>
                <%= comment.author %>
                <div class="panel-body">
                  <%= comment.body %>
                </div>
                <div class="panel-footer">
                  <%= button_to 'Show', comment %><br/>
                  <%= button_to 'Edit', edit_comment_path(comment) %><br/>
                  <%= button_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %><br/>
                </div>
              </div>
            </div>
      <% end %>
      </div>
    </div>
  </div>
  </tbody>
</table>

<br>
<div class="actions">
<%= button_to 'Powrót do Strony Głównej', root_path %>
</div>